{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div style="display:inline-block;vertical-align:top;width:25%;text-align:center;padding:10px;">
	<h2>My Stock Picks</h2>
	<table id="tbl-stock-pics" style="margin-left:auto;margin-right:auto;">
		<thead>
			<tr>
				<th>Ticker</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>

<div style="display:inline-block;padding:10px;width:50%;">    
    <h2>Download your stocks</h2>
    <input type="text" id="tickerInput" onkeyup="searchMe(this);"/>
    <input type="button" class="btn btn-primary" id="downloadStockBtn" value="Get Stock" onclick="downloadStock(event);" />
    <input type="button" class="btn btn-primary" value="Plot Stock" onclick="plotStock(event);" />
    <!-- <input type="button" class="btn btn-primary" value="Download All Stocks" onclick="downloadAllStocksOneAtATime();" /> -->
    <div id="retrieving" style="color:#10631e;padding-top:10px;">
    </div>
    <div class="popup-div">
        <ul id="mylist" class="clean-ul" style="display:none;">
        </ul>
    </div>
</div>
<div style="width:1300px;height:700px;margin-left:auto;margin-right:auto;" id='chart' class='chart'></div>
{% endblock %}

{% block footer %}
<script>

    var myStockPicks = JSON.parse(localStorage.getItem("myStockPicks")) ?? [];
    var tickers_json = '{{tickers_json}}';
    var tickersWithNames = JSON.parse(tickers_json.replaceAll("&quot;","\""))
    console.log("tickersArr", tickersWithNames);
    var tickersArr = tickersWithNames.map(x => x.Ticker);

    var tickersArrSmall = tickersArr.slice(1182);
	recreatePickerTable();

    function removeMe(el) {
		myStockPicks.splice(el.parentElement.rowIndex-1,1);
		recreatePickerTable();
	}

    function recreatePickerTable() {
		$("#tbl-stock-pics tbody").empty();
		myStockPicks.forEach(x => {
            let company = tickersWithNames.find(t => t.Ticker == x).Company;
			$("#tbl-stock-pics tbody").append("<tr><td class='hover-color' onclick='selectMe(this.innerHTML);'>" + x + "</td><td>" + company + " </td><td  style='cursor:pointer;' onclick='removeMe(this);'>X</td></tr>");
		});
		localStorage.setItem('myStockPicks', JSON.stringify(myStockPicks));
		console.log("localStorage", localStorage.getItem('myStockPicks'));
	}

    function selectMe(el) {
        $("#tickerInput").val(el);
        $("#mylist").hide();
    }

    function searchMe(el) {
        if (el.value != "") {
            $("#mylist").show();
            let filteredTickers = tickersArr.filter(x => x.indexOf(el.value.toUpperCase()) == 0);
            $("#mylist").empty();
            filteredTickers.forEach(x => {
                $("#mylist").append('<li onclick="selectMe(this.innerHTML)";>' + x + '</li>');
            });
        }
        else {
            $("#mylist").hide();
            $("#mylist").empty();
        }
    }

    function downloadAllStocksOneAtATime() {
        downloadStockRecursive(0);
    }

    function downloadStock(e) {
        $("#retrieving").html("Retrieving stock for '" + $("#tickerInput").val() + "'...");
        e.preventDefault()
        var myticker = $("#tickerInput").val();
        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_calc_stat' %}",
            data: {"ticker_val": myticker},
            success: function(data) {
                console.log("Successful call, data", data);
                $("#retrieving").html("Successfully retrieved stock '" + $("#tickerInput").val() + "'!");
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
        return false;
    }

    function downloadStockRecursive(index) {
        var myticker = tickersArrSmall[index];
        $("#tickerInput").val(myticker);

        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_calc_stat' %}",
            data: {"ticker_val": myticker},
            success: function(data) {
                console.log("Successful call, data", data);
                $("#retrieving").html("Successfully retrieved stock '" + $("#tickerInput").val() + "'!");
                index++;
                if (index < tickersArrSmall.length) {
                    downloadStockRecursive(index);
                }
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
    }

    function plotStock(e) {
        e.preventDefault()
        $("#retrieving").html("Plotting chart for '" + $("#tickerInput").val() + "'...");
        var myticker = $("#tickerInput").val();
        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_calc_plot' %}",
            data: {"ticker_val": myticker},
            success: function(data) {
                $("#retrieving").html("");
                let plotlyChart = JSON.parse(data).data;
                Plotly.newPlot('chart',plotlyChart,{});
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
        return false;
    }
</script>
{% endblock %}


