{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div style="padding:10px;">
    <h1>Download your stocks</h1>
    <input type="text" id="tickerInput" onkeyup="searchMe(this);"/>
    <input type="button" value="Get Stock" onclick="downloadStock(event);" />
    <input type="button" value="Plot Stock" onclick="plotStock(event);" />
    <input type="button" value="Download All Stocks" onclick="downloadAllStocks(event);" />
    <div id="retrieving" style="color:#10631e;padding-top:10px;">
    </div>
    <div class="popup-div">
        <ul id="mylist" class="clean-ul" style="display:none;">
        </ul>
    </div>
    <div id="allStocks">

    </div>
    <div style="width:1400px;height:1000px" id='chart' class='chart'></div>
</div>
{% endblock %}

{% block footer %}
<script>

    var tickers_json = '{{tickers_json}}';
    var tickersArr = JSON.parse(tickers_json.replaceAll("&quot;","\""))

    function selectMe(el) {
        $("#tickerInput").val(el);
        $("#mylist").hide();
    }

    function searchMe(el) {
        if (el.value != "") {
            $("#mylist").show();
            let filteredTickers = tickersArr.filter(x => x.indexOf(el.value.toUpperCase()) == 0);
            $("#mylist").empty();
            filteredTickers.forEach(x => {
                $("#mylist").append('<li onclick="selectMe(this.innerHTML)";>' + x + '</li>');
            });
        }
        else {
            $("#mylist").hide();
            $("#mylist").empty();
        }
    }

    function downloadAllStocks() {
        console.log("All stocks: ", tickersArr);
    }

    function downloadStock(e) {
        $("#retrieving").html("Retrieving stock for '" + $("#tickerInput").val() + "'...");
        e.preventDefault()
        var myticker = $("#tickerInput").val();
        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_calc_stat' %}",
            data: {"ticker_val": myticker},
            success: function(data) {
                console.log("Successful call, data", data);
                $("#retrieving").html("Successfully retrieved stock '" + $("#tickerInput").val() + "'!");
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
        return false;
    }

    function plotStock(e) {
        e.preventDefault()
        $("#retrieving").html("Plotting chart for '" + $("#tickerInput").val() + "'...");
        var myticker = $("#tickerInput").val();
        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_calc_plot' %}",
            data: {"ticker_val": myticker},
            success: function(data) {
                $("#retrieving").html("");
                let plotlyChart = JSON.parse(data).data;
                Plotly.newPlot('chart',plotlyChart,{});
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
        return false;
    }
</script>
{% endblock %}


