{% extends 'base.html' %}

{% block content %}
<div id="sector-container" style="text-align:center;">
	<h1>
	    Sectors Page
	</h1>
	<div class="parent-stock-div">
		<div class="stock-div">
			Industrial
		</div>
		<table>
			<tr>
				<th>
					Ticker
				</th>
				<th>
					Cum. Return
				</th>
			</tr>
			{% for row in industrial %}
			<tr>
				<td>
					{{ row.Ticker }}
				</td>
				<td>
					{{ row.CUM_RET|floatformat:2}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="parent-stock-div">
		<div class="stock-div">
			Healthcare
		</div>
		<table>
			<tr>
				<th>
					Ticker
				</th>
				<th>
					Cum. Return
				</th>
			</tr>
			{% for row in healthcare %}
			<tr>
				<td>
					{{ row.Ticker }}
				</td>
				<td>
					{{ row.CUM_RET|floatformat:2}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="parent-stock-div">
		<div class="stock-div">
			IT
		</div>
		<table>
			<tr>
				<th>
					Ticker
				</th>
				<th>
					Cum. Return
				</th>
			</tr>
			{% for row in it %}
			<tr>
				<td>
					{{ row.Ticker }}
				</td>
				<td>
					{{ row.CUM_RET|floatformat:2}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="parent-stock-div">
		<div class="stock-div">
			Communication
		</div>
		<table>
			<tr>
				<th>
					Ticker
				</th>
				<th>
					Cum. Return
				</th>
			</tr>
			{% for row in commun %}
			<tr>
				<td>
					{{ row.Ticker }}
				</td>
				<td>
					{{ row.CUM_RET|floatformat:2}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="parent-stock-div">
		<div class="stock-div">
			Staples
		</div>
		<table>
			<tr>
				<th>
					Ticker
				</th>
				<th>
					Cum. Return
				</th>
			</tr>
			{% for row in staple %}
			<tr>
				<td>
					{{ row.Ticker }}
				</td>
				<td>
					{{ row.CUM_RET|floatformat:2}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}

{% block footer %}
<script>

	function addTable(name, data) {
		var parentStockDiv = document.createElement("div");
		parentStockDiv.classList.add("parent-stock-div");

		var stockDiv = document.createElement("div");
		stockDiv.classList.add("stock-div");
		stockDiv.innerHTML = name;

		var newTable = document.createElement("table");
		var row = newTable.insertRow(0);

		var headerCell = document.createElement("th")
		headerCell.innerHTML = "Ticker";
		var headerCell2 = document.createElement("th")
		headerCell2.innerHTML = "Cum. Return";
		
		row.appendChild(headerCell);
		row.appendChild(headerCell2);

		parentStockDiv.appendChild(stockDiv);
		parentStockDiv.appendChild(newTable);
		$("#sector-container").append(parentStockDiv);

		data.forEach(x => {
			var dataRow = newTable.insertRow(-1);
			
			var dataCell = document.createElement("td");
			dataCell.innerHTML = x.Ticker;

			var dataCell2 = document.createElement("td");
			dataCell2.innerHTML = x.CUM_RET.toFixed(2);
			
			dataRow.appendChild(dataCell);
			dataRow.appendChild(dataCell2);
		});
	}

	downloadSectors2();

	function downloadSectors2() {
		console.log("Calling sectors2...");
        $.ajax({
            headers: { "X-CSRFToken": $.cookie("csrftoken") },
            type: "POST",
            url: " {% url 'post_sector' %}",
            data: {},
            success: function(data) {
                addTable("Discretionary", data.discretion);
                addTable("Utilities", data.utility);
                addTable("Financials", data.finance);
                addTable("Materials", data.material);
                addTable("Real Estate", data.restate);
                addTable("Energy", data.energy);
            },
            error: function(errMsg) {
                $("#retrieving").html("Found error: " + JSON.stringify(errMsg));
            }
        });
        return false;
    }
</script>
{% endblock %}