body {
    background-color: #222 !important;
    color: #ddd !important;
}

input[type=button] {
    color: white !important;
}

input[type=text] {
    color: black !important;
}

.jumbotron {
    background-color:#444 !important;
    color: white !important;
}

.navbar {
    margin-bottom:0px !important;
}

.navbar-inverse {
    border-color: #777733 !important;
}

.clean-ul {
    list-style-type:none;
    padding:10px;
    border: 1px solid #777733;
}

.clean-ul li:hover {
    background-color: #555;
    cursor:pointer;
    width:100px;
}

.popup-div {
    width:125px;
}

table, th, td {   
    padding: 1px 6px !important;
    text-align: center;
}

table th {
     border-bottom: 1px solid #777733;
}

table {
    margin-top: 10px;
}

table.tbl-sector tr:hover {
    background-color: #555;
}

.hover-color:hover {
    background-color: #555;
}

.hover-color {
    cursor:pointer;
}

#tbl-stock-pics td {
    text-align: left;
}

.stock-div {
    font-weight:bold;
    text-align: center;
    border-bottom:2px solid #777733;
}

.parent-stock-div {
    width: 175px;
    border: 1px solid #777733;
    padding: 4px;
    margin: 10px;
    display: inline-block;
}

#loading {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right:5px;
    background-color: #777733;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


